body{
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  color: white !important;
  -webkit-font-smoothing: antialiased;
}

#tsparticles {
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-color: #282c34;
}

.btn-block{
  font-size: 24px;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.acrylic-bg{
  background-color: rgba(10, 10,10, 0.1);
  backdrop-filter: blur(3px);
  transition: transfrom ease-in-out 3s;
}

.active{
  background-color: #0bc2c2;
  transform: scale(1.01);
}

.acrylic-bg:hover{
  background-color:#0bc2c2;
  transform: scale(1.01);
}

.cursor-pointer{
  cursor: pointer;
}

.card{
  min-width: 350px !important;
}